<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.white.ghost.programmersupermario">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".SuperMarioApp"
        android:icon="@mipmap/marvel_studios_10_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/marvel_studios_10_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.main.activity.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity android:name=".module.main.activity.MainActivity">
            <!--设置搜索的内容能传递到SearchActivity-->
            <meta-data android:name="android.app.default_searchable" />
        </activity>
        <!--toolbar上的搜索框点击搜索跳转到搜索界面-->
        <activity android:name=".module.main.activity.SearchActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

    </application>

</manifest>