<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.white.ghost.programmersupermario">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".SuperMarioApp"
        android:icon="@mipmap/marvel_studios_10_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/marvel_studios_10_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".module.MainActivity" />
        <activity android:name=".module.LoginActivity" />
        <activity
            android:name=".module.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>